#Projects{margin-top:50px;}
.project-head{display:flex;justify-content:center;
font-family:Roboto;}
.project-head h1{color:white;animation:ProHead 7s linear infinite;}
/* .img-back{background-image:url()} */
.inside-card{background:white;margin:10px;padding:10px;border-radius:15px;}
.imgag-size{height:150px;width:100px}
.para-card{text-align:justify;margin-top:10px;}
.img-back{display:flex;justify-content:flex-end;}
.btn-cards{margin-top:10px;}
.btn-cards button{height:35px;width:100px;background:greenyellow;border-radius:15px;border:1px solid purple}
.btn-cards button a{color:purple}
.btn-cards button:hover{ background:purple;color:greenyellow}
.btn-cards button:hover a{color:white} 
@keyframes ProHead{
    0%{transform:rotateX(0deg)}
    25%{transform:rotateX(90deg);color:transparent}
    50%{transform:rotateX(0deg);color:white}
    
}