.App{ 
  /* background-image:url(./PortfolioDetails/image/bac.avif); */
/* background-repeat:no; */
/* background-size:cover;  */
background:black
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bannerparagraphgrid{
display:grid;
grid-template-columns:1fr 1fr;
}
.para-sec{
  display:grid;
  align-content:center;
  order:1
}
.banner-sec{
  order:2
}
@media(max-width:650px){
  .bannerparagraphgrid{
    grid-template-columns:1fr;
  }
  .para-sec{
    order:2;
  }
  .banner-sec{
    order:1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo{
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
